<%= turbo_frame_tag echo do %>
  <div class="echo">
    <%= link_to echo.name,
                echo_path(echo),
                data: { turbo_frame: "_top" } %>
    <div class="echo__actions">
      <%= button_to "Delete",
                    echo_path(echo),
                    method: :delete,
                    class: "btn btn--light" %>
      <%= link_to "Edit",
                  edit_echo_path(echo),
                  class: "btn btn--light" %>
    </div>
  </div>
<% end %>
