.header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  justify-content: space-between;
  align-items: center;
  margin-top: var(--space-m);
  margin-bottom: var(--space-l);
  padding: var(--space-m) 0;
  border-bottom: 1px solid var(--color-light);

  h1 {
    font-size: var(--font-size-xxxl);
    font-weight: 700;
    color: var(--color-text-header);
    margin: 0;
  }

  @include media(tabletAndUp) {
    margin-bottom: var(--space-xl);
  }
}



