<main class="container">
  <%= link_to sanitize("&larr; Back to echo"), echo_path(@echo) %>

  <div class="header">
    <h1>Edit date</h1>
  </div>

  <%= turbo_frame_tag nested_dom_id(@echo, @echo_date) do %>
    <%= render "form", echo: @echo, echo_date: @echo_date %>
  <% end %>
</main>
